@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

:root{
    --bg-light: #313258;
    --bg-mid: #222242;
    --bg-dark: #0e0e1a;
    --row-height: 130px;
    --row-padding: 15px;
    --transition-time: .35s;
    --first-place: rgb(224, 167, 8);
    --second-place: rgb(31, 192, 192);
    --third-place: rgb(19, 207, 75);
    --podium-width: 600px;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
    color: #fff;
}

body{
    background-color: var(--bg-dark);
    min-height: 100vh;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--bg-dark);
}

i.hide{
    display: none;
}

i.fa-chevron-up{
    color: rgb(50, 255, 50);
}

i.fa-chevron-down{
    color: rgb(255, 32, 32);
}

.leaderboard{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-mid);
    width: 100%;
    max-width: 1000px;
    padding: 20px 40px;
    border-radius: 50px;
}

.leaderboard > :first-child{
    padding: 20px 10px;
    border-bottom: 4px solid var(--bg-light);
    font-weight: 600;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.summoners >:last-child{
    border-bottom: 0px;
}


.main {
    width: 100%;
    padding:var(--row-padding);
    display: grid;
    grid-template-columns: 1fr 1.5fr 2fr 1fr 1fr;
}

.main > *{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}


.player-row{
    display: grid;
    /* height: 100%; */
    grid-template-rows: repeat(1, var(--row-height));
    border-bottom: 2px solid var(--bg-light);
}

/* .player-row.active{
    grid-template-rows: repeat(1, var(--row-height));
} */

.player-row > .main{
    cursor: pointer;
}

.champs-container.active{
    max-height: var(--row-height);
    opacity: 1;
    padding:var(--row-padding);
}

.pfp-wrapper{
    position: relative;
    height: calc(var(--row-height) - var(--row-padding) * 2);
    width: calc(var(--row-height) - var(--row-padding) * 2);
}

.pfp{
    height: 100%;
    border-radius: 50%;
    width: 100%;
    border: 4px solid var(--bg-light);
}

.streak{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 4px solid var(--bg-light);
    background-color: var(--bg-dark);
    padding: 5px 4px 3px 4px;
}


/* .summoner-name{
    justify-content: left;
    margin-left: 50px;
} */
.champs-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
    max-height: 0px;
    opacity: 0;
    padding: 0px var(--row-padding);
    transition: padding var(--transition-time) ease-in-out, opacity var(--transition-time) ease-in-out, max-height var(--transition-time) ease-in-out;
}

.recent-champs{
    height: calc(var(--row-height) - var(--row-padding) * 2);
}

.recent-champ{
    height: 100%;
}

/* player podium */
.player-podium {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    max-width: var(--podium-width);
    min-width: 500px;

}

.player-podium > :first-child{
    border-top-left-radius: 20px;
}

.player-podium > :last-child{
    border-top-right-radius: 20px;
}

.player-podium >:first-child > .pfp-wrapper > .position-text,
.player-podium > :last-child > .pfp-wrapper > .position-text{
    font-size: 1.2rem;
    bottom: -8px;
}


.player-podium > :first-child > .pfp-wrapper > .pfp{
    border-color: var(--second-place);

}
.player-podium > :first-child > .pfp-wrapper > .position-wrapper{
    background-color: var(--second-place);
}

.player-podium > .player-card.peak > .pfp-wrapper > .pfp{
    border-color: var(--first-place);
}

.player-podium > .player-card.peak > .card-text > .card-elo{
    color: var(--first-place);

}
.player-podium > :first-child > .card-text > .card-elo{
    color: var(--second-place);
}

.player-podium > :last-child > .card-text > .card-elo{
    color: var(--third-place);
}

.player-podium > .player-card.peak > .card-elo{
    color: var(--first-place);

}
.player-podium > .player-card.peak > .pfp-wrapper > .position-wrapper{
    background-color: var(--first-place);
}

.player-podium > :last-child > .pfp-wrapper > .pfp{
    border-color: var(--third-place);
}
.player-podium > :last-child > .pfp-wrapper > .position-wrapper{
    background-color: var(--third-place);
}


.player-podium > :first-child > .pfp-wrapper > .position-wrapper,
.player-podium > :last-child > .pfp-wrapper > .position-wrapper{
    height: 30px;
    width: 30px;
    bottom: -10px;
    
}









.player-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(var(--row-height) * 1.7);
    width: 100%;
    max-width: 200px;
    gap: 20px;
    cursor: pointer;
    background-color: var(--bg-mid);
    
}

/* this acts as an empty div to push the card text into center of flex box */

.player-card .card-text::before{
    content: '';
    height: 70px;
}

.player-card.peak .card-text:before {
    height: 85px;
}

.card-text{
    /* position: absolute; */
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card-name{
    font-family: 600s;
    font-size: 1.6rem;
}

.card-elo{
    font-weight: 700;
    font-size: 1.8rem;
}


.card-wl{
    font-size: 1.4rem;
}


.player-card .pfp-wrapper{
    height: calc(var(--row-height) - var(--row-padding));
    width: calc(var(--row-height) - var(--row-padding));
    position: absolute;
    top: calc(var(--row-height)/ -2);
    left: 50%;
    transform: translateX(-50%);

}


.position-wrapper {
    position: absolute;
    bottom: -15px;
    padding: 15px;
    width: 40px; 
    height: 40px;
    left: 50%;
    background-color: red;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 5px;
    z-index: 1;
}

.position-text{
    position: absolute;
    color: #fff;
    left: 50%;
    bottom: -9px;
    font-size: 1.35rem;
    transform: translateX(-50%);
    z-index: 2;
}

.player-card.peak .pfp-wrapper{
    height: calc(var(--row-height) + var(--row-padding) / 2);
    width: calc(var(--row-height) + var(--row-padding) / 2);
    top: calc(var(--row-height) / -1.7)
}

.player-card.peak{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: calc(var(--row-height) * 2.1);
    background-color: var(--bg-light);
}

.player-card .champs-container{
    /* position: absolute; */
    display: flex;
    width: var(--podium-width);
    margin: auto;
}


.player-podium.active {
    height: 100%;
    max-height: calc(100% + var(--row-height))
}

#podium-champs-container{
    height: 200px;
    width: var(--podium-width);
    margin: auto;
    /* background-color: green; */
    background-color: var(--bg-mid);
    margin-bottom: 50px;
    padding: 0 20px 0 40px;
}

.player-podium {
    margin-bottom: 0px;
}

@media (max-width: 800px){
    .main{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    }

    :root{
        --podium-width: 80vw;
    }
    .leaderboard {
        padding: 10px;
    }
    .player-podium{
        min-width: 500px;
    }
    .player-card{
        width: calc(var(--podium-width) / 3);
    }
}

@media (max-width: 1000px){
    .leaderboard {
        max-width: 85vw;
    }
}